<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to ITSC Inventory Shop!</title>
    <meta name="author" content="ITSC Inventory Shop">
    <meta name="description" content="ITSC Inventory Details">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <style>
        
    </style>
</head>

<body>
    <header id="mainheader">
        <nav>
            <ul>
                <li><img src="images/logo.jpg" height="55" /></li>
                <li><a href="index">Home</a></li>
                <li><a href="totalinventory">All Inventories</a></li>
            </ul>
        </nav>
    </header>

    <div style="width:1000px;margin-left: auto;margin-right: auto;">
        <aside id="leftmenu">
            <header>
                <h4 style="text-align: center;">Browse our inventories</h4>
            </header>
            <ul>
                <li><a href="usedinventory"> Items Assigned</a></li>
                <li><a href="unusedinventory">Items in stock</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store" />

        </aside>
        <main id="main">
            <article>

                <header>
                    <h1 style="font-size:35px;color:#a593c2">Welcome to ITSC Inventory Shop</h1>
                </header>

            </article>


           
        </main>
        <footer>
            <p>Our address is <address>507,BDA Complex, 7 No. Bus Stop, Shivaji Nagar Bhopal - 462016 (M. P.)INDIA</address>
            </p>
            <small>Copyright © ITSC. All Rights Reserved.</small>
            <p>Contact us via <a href="mailto:info@itscglobal.com">email</a></p>
            <p><small><a href="support@itscglobal.com">Support</a></small></p>
        </footer>
    </div>

</body>

</html>