<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to ITSC Inventory Shop!</title>
    <meta name="author" content="ITSC Inventory Shop">
    <meta name="description" content="ITSC Inventory Details">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <style>
        
    </style>
</head>

<body>
    <header id="mainheader">
        <nav>
            <ul>
                <li><img src="images/logo.jpg" height="55" /></li>
                <li><a href="index">Home</a></li>
                <li><a href="totalinventory">All Inventories</a></li>
            </ul>
        </nav>
    </header>

    <div style="width:1000px;margin-left: auto;margin-right: auto;">
        <aside id="leftmenu">
            <header>
                <h4 style="text-align: center;">Browse our inventories</h4>
            </header>
            <ul>
                <li><a href="usedinventory"> Items Assigned</a></li>
                <li><a href="unusedinventory">Items in stock</a></li>
            </ul>
            <input type="search" class="searchbox" placeholder="Search our store" />

        </aside>
        <main id="main">
            <article>

                <header>
                    <h1 style="font-size:35px;color:#a593c2">Welcome to ITSC Inventory Shop</h1>
                </header>
                <figure>
                    <img src="images/hardware.jpg" width="600" alt="ITSC Inventory" />
                    <figcaption>ITSC Inventory Shop</figcaption>
                </figure>

                <h2>Our history</h2>
                <p>
                    For many years, <b>ITSC Technologies Pvt. Ltd.</b>  is a IT company in the field of Software Development, Maintenance and Support & Operation Services.
                    We bring to you a high technology IT environment to work in, one that has systems and processes in place and is quality driven.
                    ITSC Technologies Pvt. Ltd. was started in Bhopal in 1999.
                    <i>ITSC is registered under Indian company act 1956 and ITSC was formed with the vision to provide a most admired “integrated IT solution” platform to the local/national/international clients.</i>
                    <br>
                    <br>Activity engagement list of ITSC include IT Consultancy, Software development and Support, Managed Operations and development of Customized Enterprise Solutions. Our Core Operational expertise include Health Care, Government, Banking, Rural Development and Corporate Sector.
                    Our project management expertise in Systems Development Life Cycle, Software and System Solutions, Networking, Internet-Intranet-Extranet Solutions, Management Consultancy, Corporate Training in IT field is our strength.

                    We strongly believe if the Technology, is properly understood, it could be the toughest of arts to master and yet, if properly demystified and applied, can unfold a whole ‘New World’ of endless possibilities. This is exactly where we step in with our experience, approach, and commitment. Emancipating the technology from the shackles of the ubiquitous jargon and making it work for and with end-user, is the crux of our existence. It also sums up our approach to business.
                    Irrespective of the nature of tasks we undertake, our efforts are focused on just one goal, always – understanding our Client. We believe in “Total Solution”, “Customer Satisfaction”, and ‘Unique Customer Experience’.
                </p>

                <p>View our website <a href="http://itscglobal.com/welcome/index">ITSC Global</a></p>
            </article>

         
        </main>
        <footer>
            <p>Our address is <address>507,BDA Complex, 7 No. Bus Stop, Shivaji Nagar Bhopal - 462016 (M. P.)INDIA</address>
            </p>
            <small>Copyright © ITSC. All Rights Reserved.</small>
            <p>Contact us via <a href="mailto:info@itscglobal.com">email</a></p>
            <p><small><a href="support@itscglobal.com">Support</a></small></p>
        </footer>
    </div>

</body>

</html>